
/* ***** HERO BUTTONS ***** */
.hero-btn{
    display: flex;
    /* justify-content: center; */
    gap: 1.5rem;
    margin-top: 7%;
}

.button {
    background: #3D4C53;
    margin :  auto;
    width : 180px;
    height : 40px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 1rem;
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #26A69A;
    left : -200px;
    transition : .3s;
    border-radius: 3rem;
  }
  .btnText {
    /* justify-content: center; */
    margin-top: 0.6rem;
    color : white;
    transition : .3s;
    font-size: small;
  }
  .btnText2 {
    margin-top : 55px;
    margin-right : -115px;
    color : #FFF;
    font-size: x-large;
  }
  .btnText2-icon{
    margin-top : 60px;
    margin-right : -115px;
    color : #FFF;
  }
  .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -125px;
  }
  .button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }

  .glow-on-hover {
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}