.contact .container .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -1rem;
}
.contact-left{
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 40px;
}
.contact-list li{
    margin-bottom: 40px;
}
.contact-list li h3{
    font-size: 1em;
    font-weight: 600 bold;
    margin-bottom: 10px;
    color: #d7d7d7;
}
.contact-left h3{
    /* margin-top: 50px; */
    margin-bottom: 50px;
    color: #517fa4;
}
.contact-list li h3 i{
    background: -webkit-linear-gradient(#2cff92, #1080cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
    margin-right: 10px;
}
.item-title i{
    /* margin-top: 3rem; */
}
.contact-list li span{
    color: #517fa4;
    margin-left: 40px;
    font-weight: 600;
}
.contact-list li span a{
    color: #517fa4;
    /* color: #d7d7d7; */
}

.contact-left{
    margin-top: 4.5rem;
}
.contact-right{
    font-size: 1.6em;
}
.contact-right p{
    color: #517fa4;
    margin-left: 1rem;
    /* color: blue; */
    /* font-size: 1.6em; */
    /* margin-bottom: 10px; */
}
.contact-right p span{
    color: #d7d7d7;
    font-weight: 700;
}
.contact-form input, .contact-form textarea{
    border: none;
    color: aquamarine;
    background: gray;
    font-size: medium;
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}
.contact-form textarea{
    width: 100%;
    resize: none;
    
}

::placeholder{
    color: blue;
}

.contact-form .first-row input{
    width: 100%;
}
.contact-form .second-row{
    display: flex;
    justify-content: space-between;
}
.contact-form .second-row input{
    width: 48%;
}
.contact-form .btn-submit{
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}




  /* ***************************************** */
  .container{
    max-width: 800px;
    /* background: #fff; */
    width: 800px;
    padding: 25px 40px 10px 40px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
  }
  .container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 5px 0 0 0;
  }
  .container form .form-row{
    display: flex;
    margin: 25px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 55px;
    margin: 0 10px;
    position: relative;
  }
  form .form-row .textarea{
    height: 90px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-23px);
    font-size: 14px;
    color:  #6287a5;
    font-weight: 600;
    margin-left: 1rem;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
    border-radius: 10px;
    height: 150px;
  }
  .input-data label{
    color:  #6287a5;
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 45px;
    background: #fff;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }

.form-row input{
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    color: #fff;
    
}
.form-row .underline{
    width: 97%;
    margin-left: .5rem;
}

.form-row label{
    width: 90%;
    margin-left: 1rem;
    background: transparent;
}
#contact-scrollingText {
    overflow-y: scroll; /* Enable vertical scrolling */
    resize: none; /* Disable resizing */
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
  }

.input-data input:hover{
    border-bottom: 2px solid #517fa4;
}
#txt-message:hover{
    border-bottom: 2px solid #517fa4;
}

.input-box{
    padding-left: 1rem;
    padding-top: 1rem;
    color: #fff;
}
#txt-message{
    padding-left: -2rem;
    padding-top: 5rem;
}

.btn-contact{
  /* background-color: #2cff92; */
  display: flex;
  justify-content: left;
  margin-top: -12%;
  margin-left: -.5rem;
}
.submit-btn .input-data{
  /* overflow: hidden; */
  height: 40px!important;
  width: 100px!important;
  border-radius: 20px;
}
.submit-btn .input-data input{
  background: rgba(0, 0, 0, 0.9);
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}
.reset-btn .input-data{
  /* overflow: hidden; */
  height: 40px!important;
  width: 100px!important;
  border-radius: 20px;
}
.reset-btn .input-data input{
  background: rgba(0, 0, 0, 0.9);
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}
.reset-btn .input-data input:hover{
  border: 2px solid #517fa4;
}
.submit-btn .input-data input:hover{
  border: 2px solid #517fa4;
}



@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}